.container {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-115%, -155%);
}



.btn {
  padding: .75rem 3rem;
  border: .1rem solid black;
  border-radius: 3rem;

  min-height: fit-content;
  min-width: fit-content;

  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  cursor: pointer;
  outline: none;
}

.btn:active {
  transform: scale(0.96);
}

/* .btn:last-child {
  margin-right: 2rem;
  padding-right: 5rem;
  height: 100%;
  width: 100%;
  flex-grow: 1;
} */