.popupCard {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* .background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  border: 0;
}  */

.open {
  transform: translateY(0);
  opacity: 1;
  transition: transform .35s ease-out, opacity .3s ease-out;
}

.closed {
  transform: translateY(100%);
  opacity: 0;
  transition: transform .4s ease-out, opacity .3s ease-out;
}